.container1
{
	margin-top: 20px;
}

.container1 h1, .container3 h1
{
	font-family: 'Poppins', sans-serif;
	//background: red;
}


.container2
{
	//background: cyan;
	background: url(jaunsari1.jpg);
	background-repeat:  no-repeat;
	background-size: cover;
	height: 670px;
	//width: 90%;
	background-attachment: fixed;
	margin-top: 100px;
}

.container3
{
	//height: 900px;
	//background: red;
	background-repeat:  no-repeat;
	background-size: cover;
}

.pic1
{
	height: 430px;
	width: 100%;
}

.container3 h2
{
	font-family: 'Abel', sans-serif;
	font-size: 30px;
}

.container3 p
{
	font-family: 'Karla', sans-serif;
	font-size: 17px;
	padding: 30px;
}

.container3 i
{
	color: rgba(237,28,36,0.6);
}

.container3 ul
{
	font-size: 17px;
	font-family: 'Karla', sans-serif;
	list-style-type: none;
		
}

.button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	font-family: 'Abel', sans-serif;
	margin: 4px 2px;
	cursor: pointer;
}