			p
			{
				color: black;				
				font-size: 50px;
			}

			div.aa
			{
				width: 300px;
				height: 190px;
				background-color: rgba(0,0,0,0.4);
				margin: 0 auto;
				padding-top: 23px;
				padding-left: 50px;				
				border-radius: 15px;
				color: black;
				font-weight: bolder;
			}

			input.user
			{
				width: 200px;
				height: 35px;
				border: 0px;
				border-radius: 5px;
				padding-left: 25px;
			}

			input.contact
			{
				width: 200px;
				height: 35px;
				border: 0px;
				border-radius: 5px;
				padding-left: 25px;
			}

			input.submit
			{
				width: 100px;
				height: 35px;
				border: 0px;
				border-radius: 5px;
				background-color: skyblue;
				font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
				font-weight: 600;				
				color: rgb(240,96,96);				
			}

			input.clear
			{
				width: 100px;
				height: 35px;
				border: 0px;
				border-radius: 5px;
				background-color: skyblue;
				font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
				font-weight: 600;				
				color: rgb(240,96,96);	
			}