body
{
	margin: 0px;
	padding: 0px;
}

.container1 h1
{
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	//background: red;
	align: center;
}

.pic
{
	width: 90%;
	border-radius: 20px;
}

.container2
{
	//background: red;
	height: 250px;
}

.container2 p
{
	//background: blue;
	//height: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 20px;
}

.container3
{
	background-image: url(mytrek6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

.sub3_1,.sub4_1,.sub5_1
{
	padding-top: 50px;
	background: rgba(0,0,0,0.3);
	height: 400px;
}

.sub3_1_1,.sub4_1_1,.sub5_1_1
{
	//background: red;
	height: 60px;
	color: white;
}

.container3 h1,.container4 h1,.container5 h1
{
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	align: center;
	color: white;
}

.sub3_1_2
{
	margin-top: 50px;
	//background: green;
	height: 200px;	
}

ul 
{
	list-style-type: none;
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 20px;
}
 
li
{
	color: white;
	margin: 5px;
}
 
li a
{
  	color: white;
 	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover
{
	font-size: 30px;
	padding: 5px;
	text-decoration: none;
	background: rgba(255,255,255,0.3);
	border-radius: 10px;
	color: black;
}

.fa-heart
{
	color: rgba(237,28,36,0.7);
}

.container4
{
	margin-top: 50px;
	background-image: url(mytrek9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

.container5
{
	margin-top: 50px;
	background-image: url(mytrek1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}